:root {
  --font-logo-color: hsla(231, 100%, 58%, 1);
  --btn-color: hsla(231, 100%, 58%, 1);
  --border-style: 1px solid hsla(0, 0%, 91%, 1);
  --nav-color: hsla(221, 12%, 35%, 1);
  --heading-color: hsla(225, 58%, 10%, 1);
  --icon-color: hsla(221, 12%, 35%, 1);
  --logout-color: hsla(0, 100%, 41%, 1);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Montserrat, "Courier New", Courier, monospace;
  display: grid;
  grid-template-columns: minmax(50px, 0.7fr) minmax(50px, 4.5fr);
  grid-template-rows: 76px, 1fr;
  grid-template-areas:
    "header header"
    "aside main";
}

/* awal css header */
/* header adalah parent */
header {
  grid-area: header;
  display: flex;
  border-bottom: var(--border-style);
  justify-content: space-between;
  padding: 40px;
}

header > div {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 400px;
}

/* cari div pertama yang di dalamnya divnya ada p di dalam element header(sebagai parent) */
header > div:nth-child(1) > p {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--font-logo-color);
}

header > div:nth-child(2) {
  color: var(--icon-color);
}

/* img ke tiga di dalem header */
header > div:nth-child(2) > img:nth-child(3) {
  cursor: pointer;
}

/* akhir css header */

/* awal css navbar */
aside {
  grid-area: aside;
  padding-left: 30px;
  padding-top: 20px;
  color: var(--nav-color);
  border-right: var(--border-style);
}

aside ul {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

aside li {
  display: flex;
  gap: 10px;
  cursor: pointer;
  border-radius: 6px;
  flex-basis: 45px;
  align-items: center;
  padding: 10px;
}

aside li:last-child {
  color: var(--logout-color);
}

aside li:not(:last-child) > img {
  filter: brightness(0) saturate(100%);
}

aside li:hover {
  background: var(--btn-color);
  color: white;
}

aside li:active {
  transform: scale(0.85);
}

aside li:hover > img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(222deg) brightness(104%) contrast(108%);
}

aside li:hover:last-child > img {
  filter: brightness(0) saturate(100%) invert(16%) sepia(100%) saturate(7430%)
    hue-rotate(7deg) brightness(107%) contrast(101%);
}

/* akhir css navbar */

main {
  grid-area: main;
  font-size: 16px;
  padding: 30px;
}

.container-mainheader {
  display: flex;
  gap: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  align-items: center;
}

.container-main {
  border: var(--border-style);
  padding: 30px;
}

.container-main p {
  font-weight: 600;
  margin-bottom: 30px;
}

.container-main form > label {
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

form > div {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 6px;
  /* background: hsla(0, 0%, 87%, 1); */
  background: hsla(0, 0%, 91%, 0.3);
  height: 44px;
  font-family: Montserrat;
}

form > div > input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-family: Montserrat;
}

form button {
  margin-top: 20px;
  background: var(--btn-color);
  color: white;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  border: none;
  font-family: Montserrat;
}

form button:hover {
  background: rgb(0, 38, 252);
  color: rgb(255, 255, 255);
}

/* form button:active {
  transform: scale(0.85);
} */

@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
  }

  header > div:nth-child(2) {
    display: none;
  }
  .container-main form {
    display: flex;
    flex-direction: column;
  }

  .container-main {
    padding: 6px 3px;
  }
}
